@media (max-width: 1201px) {
	.texts-news {
		padding: 0px 15px;

		&__text {
			padding-bottom: 30px;
		}
	}
}

@media (max-width: 700px) {
	.texts-news {
		flex-direction: column;
		align-items: flex-start;
		&__text {
			width: 100%;
		}
	}
}

@media (max-width: 1330px) {
	.body-news {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		&__img {
			max-width: 100%;
		}
		&__texts {
			width: 420px;
		}
	}

	.texts-news__title {
		padding-right: 0px;
	}
}

@media (max-width: 458px) {
	.body-news {
		width: 100%;
	}
	.body-news__cards {
		width: 100%;
	}
	.body-news__texts {
		width: 100%;
	}
}
