.story {
	margin-top: 100px;
	margin-bottom: 100px;
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__box {
		display: flex !important;
		align-items: center;
		justify-content: center;
	}

	&__body {
		padding: 19px 52px 42px 22px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex: 0 1 416px;
		&:hover {
			background-image: url("../img/story-img-bg.png");
			background-size: cover;
			background-repeat: no-repeat;

			color: #fff !important;
		}
		&:hover > .story__subtitle {
			color: #fff !important;
		}
		&:hover > .story__text {
			color: #fff !important;
		}
	}

	&__img {
		margin-bottom: 32px;
	}

	&__text {
		font-style: italic;
		font-weight: 400;
		font-size: 16px;
		line-height: 170%;
		color: #434343;
		margin-bottom: 16px;
	}

	&__subtitle {
		font-style: italic;
		font-weight: 600;
		font-size: 16px;
		line-height: 170%;
		color: #434343;
	}
}

.story-info {
	background-image: url("../img/story-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 64px 0px;
	
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
	}

	&__img {
		margin-right: 168px;
	}

	&__box {
		width: 517px;
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 170%;
		color: #ffffff;
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 170%;
		color: #ffffff;
	}
}


.home {
	padding-top: 100px;
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__title {
		@extend %styletitle;
		margin-bottom: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__box {
		display: flex !important;
		gap: 20px;
		align-items: center;
		justify-content: center;
	}
}